################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PCRemote/v16
/PCRemote/.vs/PCRemote/v16
/PCRemote/Debug
/PCRemote/x64/Debug
/MainDll/Release
/MainDll/Debug
/bin/server
/bin
/MainDll/x64/Release
/PCRemote/Release
/PCRemote/x64/Release
/TestDll/Debug
/TestDll/Release
/TestDll/x64/Release
/TestDll/x64/Debug
/testdll2/Release
/DLL/Release
/Loader/Release
/Loader/Debug
