################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PCRemote/v16
/PCRemote/.vs/PCRemote/v16
/PCRemote/Debug
/PCRemote/x64/Debug
